<template>
  <div id="app">
  <h2>Buscar</h2>
    <input type="text" v-model="txtusername" placeholder="Username here..." @keyup.enter="search()" />
    <input type="button" value="pesquisar" @click="search()" />
  </div>
</template>

<script>
export default {
  name: 'App',
  props: ['username'],
  data: function() {
    return {
      txtusername: this.$route.params.username || ''
    }
  },
  methods: {
    search: function(event) {
        this.$router.push({'name': 'Search', 'params': { 'username': this.txtusername }})
        location.reload()
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
