<template>
  <div>
    <h2>Repositórios de {{username}}</h2>
    <ul>
      <li v-for="repo in repos">
        <a :href="repo.html_url">{{repo.full_name}}</a>
      </li>
    </ul>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data: function() {
    return {
      repos: []
    }
  },
  mounted: function() {
      this.getReposFromUser(this)
  },
  methods: {
    getReposFromUser: function(that) {
      axios.get('https://api.github.com/users/' + that.username + '/repos')
      .then(function(response) {
        that.repos = response.data
      }).catch(function(error) {
        that.error = error
        that.loading = true
      })
    }
  },
  props:['username']
}
</script>
