<template>
<div>
    <my-app/>
    <div v-if="loading === true && error === null ">
    Loading...
    </div>
    <div v-else-if="loading === true && error !== null" class="error">
    <h2>Erro ao fazer requisição</h2>
    {{error.response.data.message}}
    </div>
    <div v-else>
      <div>
        <label>Login:</label>
        <span> <img :src="response.avatar_url" width="32" /> </span>
        <span> {{ response.login }} </span>
        <p> {{ response.name }} </p>
      </div>

      <div>
        <label>Bio:</label>
        <span>{{ response.bio }}</span>
      </div>
      <div>
        <label>Seguidores:</label>
        <span>{{ response.followers }}</span>
      </div>
      <div>
        <label>Seguindo:</label>
        <span>{{ response.following }}</span>
      </div>
      <repos :username="response.login"/>
    </div>
</div>
</template>

<script>
import App from './App.vue'
import Repos from './Repos.vue'
import axios from 'axios'
export default {
  data: function() {
    return {
      loading: false,
      response: {},
      error: null
    }
  },
  components: {
      'my-app': App,
      'repos': Repos
  },
  methods: {
    getUserFromGitHub: function(that) {
      that.loading = true;
      axios.get('https://api.github.com/users/' + that.username)
      .then(function(response) {
        console.log(response);
        that.response = response.data
        that.loading = false
      }).catch(function(error) {
        console.log(error)
        that.error = error
        that.loading = true
      })
    }
  },
  mounted: function () {
    var that = this
    this.$nextTick(function () {
      that.getUserFromGitHub(that)
    })
  },
  computed: {
    username: function() {
        return this.$route.params.username;
    }
  },
}
</script>
<style lang="scss">
.error {
 color: red;
}
</style>
